<!-- Portfolio -->
<div id="portfolio" class="portfolio mb-5" id="portfolio">
    <div class="container ">
        <div class="d-flex justify-content-center">
            <div class="portfolio-title position-relative text-center mt-5 pt-3">
                <h2>PORTFOLIO</h2>
                <div class="divider-custom divider-light bg- position-relative">
                    <div class="divider-custom-line1 border rounded-1"></div>
                    <div class="divider-custom-icon fs-2">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="divider-custom-line2 border rounded-1"></div>
                </div>
            </div>
        </div>
    <div class="row g-4">
        <div class="col-md-4">
            <div class="grid position-relative ">
                    <img class="w-100 rounded-3" src="../../assets/imgs/cabin.png" alt="">
                     <div class="portfolio-icon text-white  rounded-3 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="grid position-relative ">
                    <img class="w-100 rounded-3" src="../../assets/imgs/cake.png" alt="">
                     <div class="portfolio-icon text-white  rounded-3 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid position-relative ">
                    <img class="w-100 rounded-3" src="../../assets/imgs/circus.png" alt="">
                     <div class="portfolio-icon text-white  rounded-3 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="grid position-relative ">
                    <img class="w-100 rounded-3" src="../../assets/imgs/game.png" alt="">
                     <div class="portfolio-icon text-white  rounded-3 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="grid position-relative ">
                    <img class="w-100 rounded-3" src="../../assets/imgs/safe.png" alt="">
                     <div class="portfolio-icon text-white  rounded-3 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid position-relative ">
                    <img class="w-100 rounded-3" src="../../assets/imgs/submarine.png" alt="">
                     <div class="portfolio-icon text-white  rounded-3 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
            </div>
        </div>
        
    </div>
  </div>
</div>
